<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>OWQM</name>
    <icon src="res/icon/water.png" platform="android" width="57" height="57" density="mdpi" />
    <icon src="icon/water.png" platform="android" width="57" height="57" density="mdpi" />
    <icon src="water.png" platform="android" width="57" height="57" density="mdpi" />
    <description>
        Online Water Quality Monitoring .
    </description>
    <author email="minataputra@gmail.com" href="#">
        Mahaarta Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
